<h1 class="ikigomi-text">迷わず突き進む僕を、ぜひ覚えてください！</h1>

<div class="links links--below">
  <%= link_to({ controller: "hello", action: "link" }, class: "button-slide") do %>
    <span>趣味・特技</span>
  <% end %>
  <%= link_to({ controller: "hello", action: "index" }, class: "button-slide") do %>
    <span>基本情報</span>
  <% end %>
</div>
